[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "bundle/vim-perl"]
	path = bundle/vim-perl
	url = git://github.com/vim-perl/vim-perl.git
[submodule "bundle/mojo.vim"]
	path = bundle/mojo.vim
	url = git://github.com/yko/mojo.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-plugins"]
	path = bundle/vim-plugins
	url = git://github.com/WolfgangMehner/vim-plugins.git
[submodule "bundle/vim-rhubarb"]
	path = bundle/vim-rhubarb
	url = git://github.com/tpope/vim-rhubarb.git
[submodule "bundle/vim-fish"]
	path = bundle/vim-fish
	url = git://github.com/dag/vim-fish.git
[submodule "bundle/vim-hier"]
	path = bundle/vim-hier
	url = git@github.com:jceb/vim-hier.git
[submodule "bundle/VimCompletesMe"]
	path = bundle/VimCompletesMe
	url = git@github.com:ajh17/VimCompletesMe.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/vim-tmux"]
	path = bundle/vim-tmux
	url = git://github.com/tmux-plugins/vim-tmux.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch
[submodule "bundle/vim-qf"]
	path = bundle/vim-qf
	url = git://github.com/romainl/vim-qf
[submodule "pack/git-plugins/start/ale"]
	path = pack/git-plugins/start/ale
	url = git://github.com/w0rp/ale.git
