[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = git://github.com/tpope/vim-git.git
	branch = master
[submodule "bundle/vim-perl"]
	path = bundle/vim-perl
	url = git://github.com/vim-perl/vim-perl.git
	branch = master
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	branch = master
[submodule "bundle/vim-plugins"]
	path = bundle/vim-plugins
	url = https://github.com/WolfgangMehner/vim-plugins.git
	branch = master
[submodule "bundle/vim-rhubarb"]
	path = bundle/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
	branch = master
[submodule "bundle/vim-fish"]
	path = bundle/vim-fish
	url = https://github.com/dag/vim-fish.git
	branch = master
[submodule "bundle/vim-hier"]
	path = bundle/vim-hier
	url = git@github.com:jceb/vim-hier.git
	branch = master
[submodule "bundle/VimCompletesMe"]
	path = bundle/VimCompletesMe
	url = git@github.com:ajh17/VimCompletesMe.git
	branch = master
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
	branch = master
[submodule "bundle/vim-tmux"]
	path = bundle/vim-tmux
	url = git://github.com/tmux-plugins/vim-tmux.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch
[submodule "bundle/vim-qf"]
	path = bundle/vim-qf
	url = git://github.com/romainl/vim-qf
[submodule "pack/git-plugins/start/ale"]
	path = pack/git-plugins/start/ale
	url = git://github.com/w0rp/ale.git
[submodule "pack/git-plugins/taglist.vim"]
	path = pack/git-plugins/start/taglist.vim
	url = git://github.com/stmuk/taglist.vim.git
[submodule "pack/git-plugins/start/vimspector"]
	path = pack/git-plugins/start/vimspector
	url = git://github.com/puremourning/vimspector.git
[submodule "pack/git-plugins/start/vader.vim"]
	path = pack/git-plugins/start/vader.vim
	url = git://github.com/junegunn/vader.vim.git
[submodule "pack/git-plugins/start/vim-obsession"]
	path = pack/git-plugins/start/vim-obsession
	url = git://github.com/tpope/vim-obsession.git
[submodule "pack/git-plugins/start/vim-ctrlposession"]
	path = pack/git-plugins/start/vim-ctrlposession
	url = git://github.com/gikmx/vim-ctrlposession.git
[submodule "pack/git-plugins/start/vim-prosession"]
	path = pack/git-plugins/start/vim-prosession
	url = git://github.com/dhruvasagar/vim-prosession.git
[submodule "pack/git-plugins/start/ctrlp.vim"]
	path = pack/git-plugins/start/ctrlp.vim
	url = git://github.com/ctrlpvim/ctrlp.vim.git
	branch = master
